
<div class="mid-content">
    <!-- links -->
    <div class="frame-2-top">
        <span class="text-2">{{ title1 }}</span>
    </div>
    <div class="frame-2-bot">
        <div class="pos-2" id="actVermogenMeterVerbruik">
            {{ chart_gauge_1 }}
        </div>

        <div class="pad-3" style="float:left;">
            <div class="frame-2-bot">
                <div id="actVermogenMeterGrafiekVerbruik" class="pos-4">
                    {{ chart_line_1 }}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- rechts -->
<div class="right-wrapper pad-1">
    <div class="frame-2-top">
        <span class="text-2">{{ title2 }}</span>
    </div>
    <div class="frame-2-bot">
        <div class="pos-2" id="actGasMeterVerbruik">
            {{ chart_gauge_2 }}
        </div>
        <div class="pad-3" style="float:left;">
            <div class="frame-2-bot">
                <div id="actGasMeterGrafiekVerbruikt" class="pos-4">
                    {{ chart_line_2 }}
                </div>
            </div>
        </div>
    </div>
</div>

